.login-form{
    max-width: 360px;
    margin: 30px auto;
    padding: 20px;
}

.login-form label{
    display: block;
    margin: 30px auto;
}

.login-form span{
    display: block;
    margin-bottom: 6px;
}

.login-form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

/* Media query for screens less than 480px wide (mobile portrait) */
@media (max-width: 480px) {
    .login-form{
        font-size: 0.9em;
    }

    .login-form input{
        width: 95%;
    }
  
  }