.navbar{
    width: 100%;
    background: #effaf0;
    box-sizing: border-box;
    padding: 20px 20px;
}

.navbar ul{
    display: flex;
    margin: 0;
    align-items: center;
}

.title{
    margin-right: auto;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.2em;
}

.navbar button, .navbar a{
    margin-left: 16px;
}

.navbar a{
    color: #333;
    text-decoration: none;
}

@media(max-width: 300px){
    .title{
        margin-right: auto;
        font-weight: bold;
        letter-spacing: 0.5px;
        font-size: 0.9em;
    }
    .navbar .name{
        font-size: 0.8em;
    }
}
