.navbar{
    width: 100%;
    background: #effaf0;
    box-sizing: border-box;
    padding: 10px 20px;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.navbar ul{
    list-style: none; 
    display: flex; 
    margin: 0; 
    padding: 0; 
    width: 100%; 
    justify-content: space-between;  
    align-items: center; 
}

.title{
    margin-right: auto;
}

.title a{
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.2em;
    color: black;
}

.navbar button{
    margin-left: 16px;
}

/* .navbar a{
    font-size: 1.2em;
    color: #333;
    opacity: 0.5;
    text-decoration: none;
} */

.active { /* Styles applied to the active link */
    color: #f00; /* Change this to your desired color */
    font-weight: bold;
    opacity: 1;
  }


@media(max-width: 480px){
    .title a{
        font-size: 0.9em;
    }

    .navbar .name{
        font-size: 0.8em;
    }

    /* .navbar a{
        font-size: 0.9em;
        color: #333;
        text-decoration: none;
    } */
}
