.signup-form{
    max-width: 360px;
    margin: 30px auto;
    padding: 20px;
}

.signup-form label{
    display: block;
    margin: 25px auto;
    position: relative;
}

.signup-form span{
    display: block;
    margin-bottom: 6px;
}

.signup-form input{
    padding: 8px 6px;
    font-size: 1em;
    color: #777;
    width: 100%;
}

.signup-form label > button{
    position: absolute;
    top: 45px;
    right: -5px;
    padding: 4px;
    background-color: transparent; 
    border: none; 
    cursor: pointer; 
}

.signup-form label > button  .fa-eye-slash{
    display: none;
}

.signup-form label > button.active  .fa-eye{
    display: none;
}

.signup-form label > button.active  .fa-eye-slash{
    display: inline;
}

/* Media query for screens less than 480px wide (mobile portrait) */
@media (max-width: 480px) {
    .signup-form{
        font-size: 0.9em;
    }

    .signup-form input{
        width: 95%;
    }

    .signup-form p{
        width: 95%;
    }

    .signup-form label > button{
        position: absolute;
        top: 40px;
        right: 10px;
        padding: 4px;
        background-color: transparent; 
        border: none; 
        cursor: pointer; 
    }
  
  }